/* FOOTER */

footer {
    margin-top: 3rem;
    margin-left: 10px;
    margin-bottom: 1rem;
    width: 99%;
    position: relative;
    background: var(--colour-1);
    bottom: 0;
    color: var(--colour-2);
    padding: 10px 0px 5px;
    font-family: "agrandir-regular";
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    border-radius: 10px;
    background: #f7efe2;
    box-shadow:  10px 10px 16px #ebe3d7,
                 -10px -10px 16px #fffbed;
}

.footer-row {
    width: 84%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
}

.footer-col {
    flex-basis: 25%;
    padding: 10px;
}

.footer-logo {
    width: 80px;
    margin-bottom: 40px;
    margin-left: -3rem;
    margin-top: 1.5rem;
}

.footer-icons {
    margin-bottom: 5px;
    margin-left: -5.5rem;
    color: var(--colour-1);
    display: inline-flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;
    cursor: pointer;
}

.footer-col p {
    width: fit-content;
    margin-top: 1.5rem;
    margin-bottom: 10px;
    line-height: 30px;
    position: relative;
    font-family: "RationalDisplayDemo-Light";
    font-weight: normal;
    font-size: 16px;
    color: var(--colour-1);

}

.footer-col a {
    text-decoration: none;
    cursor: pointer;
}

#footer-form {
    padding-bottom: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--colour-1);
}

.envelope {
    font-size: 16px;
    margin-right: 10px;
    color: var(--colour-1);
}

#footer-form input {
    width: 100%;
    background: transparent;
    color: var(--colour-1);
    margin-left: 10px;
    border: 0;
    outline: none;
    font-family: "RationalDisplayDemo-Light";
}

#footer-form button {
    background: transparent;
    border: 0;
    outline: none;
    cursor: pointer;
    color: var(--colour-1);
}

.copyright {
    font-size: 10px;
    display: flex;
    justify-content: right;
    padding-right: 115px;
    color: var(--colour-1);
    font-family: "RationalDisplayDemo-Light";
}

.footer-1 {
    margin-top: 13rem;
}

@media (max-width: 768px) {
    footer {
        bottom: unset;
    }

    .footer-col {
        flex-basis: 100%;
       
    }

    .footer-logo {
        width: 80px;
        margin-bottom: 40px;
        margin-left: 0.5rem;
        margin-top: -4rem;
    }
    
}