* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "DentonCT-Regular";
    src: url(../fonts/DentonCondensedTest-Regular.woff) format("woff");
}

@font-face {
    font-family: "DentonCT-Bold";
    src: url(../fonts/DentonCondensedTest-Bold.woff) format("woff");
}

@font-face {
    font-family: "RationalDisplay-Light";
    src: url(../fonts/Rene\ Bieder\ -\ RationalDisplayDEMO-Light.woff) format("woff");
}

@font-face {
    font-family: "RationalDisplay-SemiBold";
    src: url(../fonts/Rene\ Bieder\ -\ RationalDisplayDEMO-SemiBold.woff) format("woff");
}



/* VARIABLES */

:root {
    --colour-1: #000000;
    --colour-2: #f7efe2;
    --colour-3: #3c8769;
    --colour-4: #ffaecf;
}

/* INTERACTION 1 */

html, body {
    width: 100%;
    height: 100%;
    background: #f7efe2;
    overflow: hidden;
}

main {
    height: 100%;
    width: 100vw;
    display: flex;
    overflow: hidden;
    font-family: "DentonCT-Bold";
}

section {
    width: 120vw;
    font-size: 4rem;
    line-height: 1em;
    background: #f7efe2;
}

.wrap {
    display: flex;
    height: 100%;
}

.section {
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -280px;
}

.landing-img {
    margin-left: 2.5rem;
}

.title-who {
    font-family: "RationalDisplay-Light";
    font-size: 1.5rem;
    margin-top: 16rem;
    margin-left: -20.5rem;
    color: #000000;
    text-decoration: none;
}

.title-who:hover{
    color: #ffaecf;
}

 .who-button {
    text-decoration: none;
}



.card-landing {
    height: 70%;
    width: 25%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -300px;
    cursor: pointer;
}

.card-landing{  
    -webkit-transform: perspective(1px) translateZ (0);
    transform: perspective(1px) translateZ (0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.card-landing:hover, .card-landing:focus, .card-landing:active {
    text-decoration: none;
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
    border-radius: 8px;
background: #f7efe2;
box-shadow:  28px 28px 72px #ebe3d7,
             -28px -28px 72px #fffbed;
}



.number {
    font-family: "DentonCT-Bold";
    font-size: 18rem;
    margin-top: -6rem;
    margin-left: -1rem;
}

.number:hover {
    color: #3c8769;
   
} 

.title {
    font-family: "DentonCT-Bold";
    font-size: 4rem;
    margin-top: 12rem;
    margin-left: -8.5rem;
}


.blurb {
    font-family: "RationalDisplay-Light";
    font-size: 2rem;
    margin-top: 18rem;
    margin-left: -7rem;
}

.blurb-3 {
    font-family: "RationalDisplay-Light";
    font-size: 2rem;
    margin-top: 18rem;
    margin-left: -9rem;
}

.number-3 {
    font-family: "DentonCT-Bold";
    font-size: 18rem;
    margin-top: -6rem;
    margin-left: -1rem;
}

.number-3:hover {
    color: #ffaecf;
   
} 

.blurb-4 {
    font-family: "RationalDisplay-Light";
    font-size: 2rem;
    margin-top: 18rem;
    margin-left: -8rem;
}

.number-5 {
    font-family: "DentonCT-Bold";
    font-size: 18rem;
    margin-top: -6rem;
    margin-left: -1rem;
}

.number-5:hover {
    color: #ffaecf;
   
}

.title-5{
    font-family: "DentonCT-Bold";
    font-size: 4rem;
    margin-top: 12rem;
    margin-left: -7.5rem;
}

.blurb-5 {
    font-family: "RationalDisplay-Light";
    font-size: 2rem;
    margin-top: 18rem;
    margin-left: -7.3rem;
}



.blocks {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    pointer-events: none;
}

.block {
    position: absolute;
    top: 0;
    left: 0;
    width: 4rem;
    height: 100%;
    background: #f7efe2;
    z-index: 100;
    padding: 2rem 1.25rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    pointer-events: none;
    cursor: pointer;
    border-left: 0.2rem solid #000000;
    font-weight: 500;
}

.block[section-indicator="1"].fixed {
    left: 0rem;
    border-right: 0.2rem solid #000000;
    border-left: unset;
}

.block[section-indicator="2"].init {
    left: calc(100vw - 20rem);
    border-left: 0.2rem solid #000000;
     border-right: unset;
}

.block[section-indicator="2"].fixed {
    left: 4rem;
    border-left: unset;
    border-right: 0.2rem solid #000000;
}

.block[section-indicator="3"].init {
    left: calc(100vw - 16rem);
     border-right: unset;
     border-left: 0.2rem solid #000000;
}

.block[section-indicator="3"].fixed {
    left: 8rem;
    border-left: unset;
    border-right: 0.2rem solid #000000;
}

.block[section-indicator="4"].init {
    left: calc(100vw - 12rem);
     border-right: unset;
     border-left: 0.2rem solid #000000;
}

.block[section-indicator="4"].fixed {
    left: 12rem;
    border-left: unset;
    border-right: 0.2rem solid #000000;
}

.block[section-indicator="5"].init {
    left: calc(100vw - 8rem);
     border-right: unset;
     border-left: 0.2rem solid #000000;
}

.block[section-indicator="5"].fixed {
    left: 16rem;
    border-left: unset;
    border-right: 0.2rem solid #000000;
}

.block[section-indicator="6"].init {
    left: calc(100vw - 4rem);
     border-right: unset;
     border-left: 0.2rem solid #000000;
}

.block[section-indicator="6"].fixed {
    left: 20rem;
    border-left: unset;
    border-right: 0.2rem solid #000000;
}

.block[section-indicator="7"].init {
    left: calc(100vw - 0rem);
     border-right: unset;
     border-left: 0.2rem solid #000000;
}

.block[section-indicator="7"].fixed {
    left: 24rem;
    border-left: unset;
    border-right: 0.2rem solid #000000;
}



.block__title {
    position: relative;
    white-space: nowrap;
    transform: rotate(-90deg) translate(-50%);
    text-align: right;
    font-family: "DentonCT-Regular";
}

.block__number,
.block__title {
    text-transform: uppercase;
    font-size: 1.5rem;
    line-height: 1rem;
    color: #000000;
    font-family: "DentonCT-Regular";
}


/* WHY PAGE */ 

.nav-logo-why {
  margin-left: 3.5rem;
  margin-top: 0.8rem;
}


#why-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DentonCT-Bold";
    font-size: 14rem;
    letter-spacing: 1px;
    text-align: center;
    color: var(--colour-1);
    padding-left: 60px;
    padding-right: 60px;
    margin-top: -1rem;
}

#why-quote:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DentonCT-Bold";
    font-size: 14rem;
    letter-spacing: 1px;
    text-align: center;
    color: var(--colour-1);
    padding-left: 60px;
    padding-right: 60px;
    margin-top: -1rem;
    color: var(--colour-4);
}

#why-quote-p {
    font-family: "DentonCT-Regular";
    font-size: 1.5rem;
    letter-spacing: 2px;
    text-align: left;
    line-height: 3.2rem;
    color: var(--colour-1);
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: -1rem;
}

.contact-link {
    text-decoration: none;
    color: var(--colour-1);
}

.contact-link:hover {
    text-decoration: none;
    color: var(--colour-4);
}

/* WHEN PAGE */

#when-quote {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DentonCT-Bold";
    font-size: 12rem;
    letter-spacing: 1px;
    text-align: center;
    color: var(--colour-1);
    padding-left: 110px;
    padding-right: 60px;
    margin-top: -1rem;
}

#when-quote:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "DentonCT-Bold";
    font-size: 12rem;
    letter-spacing: 1px;
    text-align: center;
    color: var(--colour-1);
    padding-left: 110px;
    padding-right: 60px;
    margin-top: -1rem;
    color: var(--colour-3);
}

strong {
    font-size: 3rem; 
}

strong:hover {
    font-size: 3rem; 
    color: var(--colour-3);
}

.signup-link {
    text-decoration: none;
    color: var(--colour-1);
}

.signup-link:hover {
    text-decoration: none;
    color: var(--colour-3);
}
